# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore idea stuff
.idea/

# Vaadin stuff
package.json
package-lock.json
webpack.generated.js
webpack.config.js
node_modules
target
node

# Logs
logs